
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(120deg, #8a2be2 0%, #20b2aa 100%);
    animation: Gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes Gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.container {
    max-width: 800px;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.4rem;
    margin: 20px 0 15px;
}

.input-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input, #add-song-btn, #add-collaborator-btn {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fafafa;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
    outline: none;
}

#back-button, button {
    padding: 12px 24px;
    background: linear-gradient(160deg, #007bff 0%, #0056b3 100%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    pointer-events: none;
}

.note {
    font-size: 24px; /* Size of the musical note */
    color: black;
    position: absolute;
    animation: 4s linear infinite animate;
    pointer-events: none;
    z-index: 999;
    opacity: 1;
    background-color: transparent;
}

.wrapper .note:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper .note:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.wrapper .note:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 9s linear infinite;
}

.wrapper .note:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
}

.wrapper .note:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.wrapper .note:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

.wrapper .note:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 4s linear infinite;
}

.wrapper .note:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 11s linear infinite;
}

.wrapper .note:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 12s linear infinite;
}

.wrapper .note:nth-child(10) {
    top: 45%;
    left: 15%;
    animation: animate 13s linear infinite;
}

.wrapper .note:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 14s linear infinite;
}

.wrapper .note:nth-child(12) {
    top: 25%;
    left: 75%;
    animation: animate 15s linear infinite;
}

.wrapper .note:nth-child(13) {
    top: 15%;
    left: 5%;
    animation: animate 16s linear infinite;
}

.wrapper .note:nth-child(14) {
    top: 85%;
    left: 55%;
    animation: animate 17s linear infinite;
}

.wrapper .note:nth-child(15) {
    top: 95%;
    left: 35%;
    animation: animate 18s linear infinite;
}




@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }